
services:
  # 1. Database PostgreSQL
  postgres:
    image: postgres:18.1-alpine
    container_name: zalo_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: zalo_clone_db
      POSTGRES_EXTENSIONS: pgcrypto,uuid-ossp
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 10s
      timeout: 5s
      retries: 5
  # 2. Redis (Cache & Pub/Sub)
  redis:
    image: redis:8.4-alpine
    container_name: zalo_redis
    restart: always
    ports:
      - "6379:6379"
    # Lệnh này để bật Redis mà không cần file config, có password
    command: redis-server --requirepass password123
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Console UI
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
      - ./mc-config:/root/.mc
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 3

  # MinIO Client - Auto-create bucket
  minio-init:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      echo 'Waiting for MinIO to start...';
      sleep 5;
      mc alias set myminio http://minio:9000 minioadmin minioadmin;
      mc mb myminio/zalo-clone-media-dev --ignore-existing;
      mc anonymous set none myminio/zalo-clone-media-dev;
      mc ilm add --expiry-days 1 myminio/zalo-clone-media-dev --prefix 'temp/';
      echo 'MinIO bucket initialized with lifecycle rule';
      "

  # Thêm service ClamAV
  clamav:
    image: clamav/clamav:latest
    container_name: zalo_clamav
    restart: unless-stopped
    ports:
      - "3310:3310"
    healthcheck:
      test: ["CMD", "clamdscan", "--ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    # Tốn RAM, nên limit nếu máy yếu
    deploy:
      resources:
        limits:
          memory: 1.5G
          
volumes:
  postgres_data:
  redis_data:
  minio_data: